-
    var test = ["fl1", "fl2", "fl3", "fl4", "fl5"]

section.catalog
    .catalog-bg-red-triangle.d-lg-block.d-none
    .container
        .row.justify-content-lg-start.justify-content-center
            .col-9
                h2 Каталог увлажнителей
    .container
        +ulnavcatalogtop
        #nav-tabContent.tab-content
            #nav-firstlist.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-firstlist-tab")
                .container.catalog-main
                    .row
                        +ullistcatalog1
                        #nav-tabContent1.tab-content.col-lg-8.col-md-9.catalog-right
                            - for (var x = 0; x < test.length; x++)
                                    if x===0
                                        .tab-pane.fade.show.active(role="tabpanel" id=`nav-firstlist${x+1}`)
                                            +firstlisttab(test[x])
                                    else 
                                        .tab-pane.fade(role="tabpanel" id=`nav-firstlist${x+1}`)
                                            +firstlisttab(test[x])
            #nav-secondlist.tab-pane.fade(role="tabpanel" aria-labelledby="nav-profile-tab")
                .container.catalog-main
                    .row
                        +ullistcatalog2
                        #nav-tabContent2.tab-content.col-lg-8.col-md-9.catalog-right
                            #nav-secondlist1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-secondlist1-tab")
                                +catalogmain('ue')
                            #nav-secondlist2.tab-pane.fade(role="tabpanel" aria-labelledby="nav-secondlist2-tab")
                                +catalogmain('uer')
            #nav-thirdlist.tab-pane.fade(role="tabpanel" aria-labelledby="nav-thirdlist-tab")
                .container.catalog-main
                    .row
                        +ullistcatalog3
                        #nav-tabContent3.tab-content.col-lg-8.col-md-9.catalog-right
                            #nav-thirdlist1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-thirdlist1-tab")
                            +catalogmain('ue')