.footer.position-relative
    section.position-relative
        .footer-bg-woomen.d-xl-block.d-none(style="background-image:url(./img/bg-woomen.png)")
        .footer-bg.d-xl-block.d-none(style="background-image:url(./img/bg-footer.png)")
        .container
            .row.justify-content-xl-start.justify-content-center
                .col-xl-5.col-md-10.col-12.call-back
                    .call-back-title
                        p Если у вас остались вопросы, мы с удовольствием на них ответим
                    .input-main
                        img(src="./img/user-logo.png", class="position-absolute" alt="User")
                        input(type="text" placeholder="Ваше имя") 
                        input(type="text" placeholder="Ваш телефон")
                        img(src="./img/tel-logo.png", class="position-absolute img_tel-logo" alt="telephone")
                    .call-back-button1
                        button(class="btn_call-back")
                            span(class="position-absolute") Отправить заявку
                    .call-back-text
                        p Ваши контактные данные в безопасности и не будут переданы 3-им лицам
            .row.justify-content-xl-start.justify-content-center.d-flex.flex-column
                .col-sm-2.col-5
                    .footer-creator.d-flex.justify-content-between.align-items-center
                        span Разработано
                        img(src='./img/footer-creator.png')
                .col-sm-4.col-10
                    .footer-copyright
                        span © 2019 CAREL. Все права защищены
                        br
                        span Политика конфиденциальности    

