include ./mixin.pug
.header
    section
        .left-triangle
        .right-glass.d-xl-block.d-none(style="background-image: url(./img/right-glass.png)")
        .container 
            .row.justify-content-between 
                .col-xl-3.col-md-3.col-sm-4
                    img(class="img-logo" src='./img/Group-logo.png' alt='CAREL')
                .col-lg-3.text-right.col-md-3.col-sm-4.col-7
                    a(href='#' class="text-decoration-none tell") +7 (965) 390-46-99
                    br
                    a(href="#" class="rev-call") Обратный звонок
            .row.justify-content-between
                .col-lg-6.col-md-6.col-sm-10
                    img(class="img-artic-main position-relative" src='./img/artic-main.png' alt="Artic-main")
                .text-md-right.text-sm-center.text-right.col-md-6.col-12
                    p(class="header-title-text") Увлажнители CAREL
                        +headermenu
                    .btn-header
                        button(class="but_chos_item position-relative")
                            span(class="position-absolute") Выбрать товар
        
        