<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="main.css")
        title Увлажнитель CAREL
        
    body
        #wrapper
            include header.pug
            include main.pug
            include footer.pug
            include modal.pug
            .scroll-arrow
                img(src="./img/scroll-arrow.svg", alt="arrow")

    script(src='main.js')