.main
    .red-line-container
        .d-md-block.d-none.red-line
    section.position-relative.serv__center-main
        .grey-triangle.position-absolute.d-lg-block.d-none
        .container
            .row.justify-content-lg-start.justify-content-center
                .col-md-8.col-10.text-lg-left.text-center.serv__center
                    h2 Сервисный центр
                    p Увлажнители воздуха Carel — это синоним качественной и надежной техники, способной прослужить на объектах различного назначения долгие годы.
            .row.justify-content-center
                .col-md-8.col-10.text-center.serv__center
                    h2 3 важных составляющих
                    p  длительной эксплуатации высокотехнологичного оборудования и сохранения его первоначальных свойств:
    section.line-red.position-relative.d-flex.align-items-center
        .container
            +redlinecontent
    section.position-relative
        .container
            .row
                .col-md-7.col-12.text-md-left.text-center
                    p Своевременное сервисное обслуживание исключает вероятность поломки оборудования и выхода из строя всей системы увлажнения, что  абсолютно недопустимо в условиях объектов специального назначения, таких как:
    section.position-relative
        .container
            .bg-man.d-lg-block.d-none(style="background-image: url(./img/man-right.png)")
            .serv__use
                ul
                    +ullistbgman
    section.position-relative.main-call-back
        .call-back-bg.d-lg-block.d-none(style="background-image: url(./img/call-back-bg.png)")
        .right-rectangle.d-xl-block.d-none(style="background-image: url(./img/right-rectangle.png)")
        .container
            .row.justify-content-xl-start.justify-content-center
                .col-xl-5.col-md-8
                    .call-back-title
                        p Хотите исключить вероятность поломки оборудования? Мы поможем вам в этом!
                    .input-main
                        img(src="./img/user-logo.png", class="position-absolute" alt="User")
                        input(type="text" placeholder="Ваше имя") 
                        input(type="text" placeholder="Ваш телефон")
                        img(src="./img/tel-logo.png", class="position-absolute img_tel-logo" alt="telephone")
                    .call-back-button
                        button(class="btn_call-back")
                            span(class="position-absolute") Отправить заявку
                    .call-back-text
                        p Ваши контактные данные в безопасности и не будут переданы 3-им лицам
    section.position-relative
        .left-triangle-left
        .container
            .row.text-center.pre-menu-title.justify-content-center
                .col-md-9.col-12
                    h2 Так же у нас вы можете приобрести оригинальные запасные части для увлажнителей CAREL
    section.position-relative.grey-line
        .container
            +greylinecontent
    include catalog.pug
    section.postition-relative.talk-about-us
        .container
            .row.justify-content-lg-start.justify-content-center
                .col-lg-8.col-12
                    .talk-about-us-title
                        h2 Отзывы наших клиентов
                    .talk-about-us-text
                        p Ежегодно мы оказываем сервисные услуги более 100 организациям на территории РФ. Имея значительный опыт и знание особенностей оборудования, сертифицированные специалисты, выполняют полный комплекс услуг по контролю и сервисному обслуживанию систем увлажнения воздуха на объектах различного уровня сложности.
            .owl-carousel.owl-theme
                +caroeselcontent