-
    var listbgman = [
        {name: "Центры обработки данных (ЦОД)"},
        {name: "Текстильное пищевое фармацевтическое производство"},
        {name: "Компьютерные залы и станции связи"},
        {name: "Оранжереи"},
        {name: "«Чистые» помещения"},
        {name: "Холодильные камеры и др."},
    ]

-
    var listulcatalog1 = [
        {name: "Увлажнители с погружными электродами UE* humiSteam", href:"#nav-firstlist1"},
        {name: "Увлажнители с погружными электродами UER* thermoSteam", href:"#nav-firstlist2"},
        {name: "Увлажнители с погружными электродами CH* compactSteam", href:"#nav-firstlist3"},
        {name: "Увлажнители с электронагревателями UR*4 heaterSteam", href:"#nav-firstlist4"},
        {name: "Газовые увлажнители UG* gaSteam", href:"#nav-firstlist5"},
    ]

-
    var listulcatalog2 = [
        {name: "Увлажнители с погружными электродами UE* humiSteam", href:"#nav-secondlist1"},
        {name: "Увлажнители с погружными электродами UER* thermoSteam", href:"#nav-secondlist2"},
    ]

-
    var listulcatalog3 = [
        {name: "Увлажнители с погружными электродами UE* humiSteam", href:"#nav-thirdlist1"},
    ]

-
    var btmbtncatalog11 = [
        {name: "UE Basic", href:"#nav-firstlist11"},
        {name: "UE X-plus", href:"#nav-firstlist12"},
        {name: "UE Wellness", href:"#nav-secondlist2"},
    ]

-
    var catalogitems111 = [
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},

    ]

-
    var catalogitems112 = [
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},
        {name: "UE001YD001" , src: "./img/shop_items.png", alt: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр" , pricerub: "63 718 руб.", priceeu: "904 €", linktext:"Подробнее", href: "#"},

    ]

-
    var caroeselcontent = [
        {src: "./img/reviews/1.jpg", alt: "1"},
        {src: "./img/reviews/2.jpg", alt: "2"},
        {src: "./img/reviews/3.jpg", alt: "3"},
        {src: "./img/reviews/4.jpg", alt: "4"},
        {src: "./img/reviews/5.jpg", alt: "5"},
        {src: "./img/reviews/6.jpg", alt: "6"},
        {src: "./img/reviews/7.jpg", alt: "7"},

    ]

-
    var modalspecif = [
        {name: "Бренд", value: "Carel"},
        {name:"Номинальная производительность", value:"1,5 кг/ч"},
        {name:"Макс. потребляемая мощность", value:"1,12 кВт"},
        {name:"Параметры электропитания", value:"1~, 220В"},
        {name:"Присоединение линии пара", value:"Ø 22/30 мм"},
        {name:"Количество цилиндров", value:"1"},
        {name:"Размеры оборудования (ВхШхГ)", value:"712х365х275 мм"},
        {name:"Размеры упаковки (ВхШхГ)", value:"850х500х400 мм"},
        {name:"Вес НЕТТО", value:"13,5 кг"},
        {name:"Вес БРУТТО", value:"16 кг"},
    ]

-
    var modaldescrip = [
        {name:"В основе работы увлажнителей с погружными электродами лежит простой физический закон. Обычная питьевая вода содержит некоторое количество растворенных минеральных солей, а значит, имеет определенную электропроводность. Если подать напряжение на погруженные в воду электроды, получится электрический ток, который нагревает воду до кипения (эффект Джоуля), и в процессе кипения выделяется пар."},
        {name:"humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Воздух может увлажняться непосредственно в помещении при помощи вентиляторного парораспределителя или в системе воздуховодов при помощи высокоэффективных линейных парораспределителей. Увлажнители humiSteam работают на водопроводной воде."},
        {name:"Есть следующие разновидности «электродных» увлажнителей HumiSteam:"},
        {name:"– Basic, самый простой вариант для решения любых задач по увлажнению воздуха паром. В основном используется в связке с другим увлажнителем HumiSteam типа X-Plus по принципу Ведущий/Ведомый;"},
        {name:"– X-Plus, мощный увлажнитель с погружными электродами. Комплектуется встроенным контроллером типа «X» серии pCO, жидкокристаллическим дисплеем и кнопками для управления и настройки параметров;"},
        {name:"– Wellness, специальный вариант парового увлажнения воздуха для саун. Имея принцип работы, как у модели «Xplus», увлажнитель humiSteam Wellness поддерживает встроенные функции управления специально для саун."},
    ]

-
    var headermenu = [
        {name:"Сервисное обслуживание", src:"./img/dot-nav.png", alt:"dot"},
        {name:"Монтаж", src:"./img/dot-nav.png", alt:"dot"},
        {name:"Оригинальные запчасти", src:"./img/dot-nav.png", alt:"dot"},
    ]

-
    var redlinecontent = [
        {name:"Качественная техника",number:"1"},
        {name:"Постоянный надзор специалистов сервисной службы",number:"2"},
        {name:"Регулярное проведение профилактических работ",number:"3"},
    ]

-
    var greylinecontent = [
        {name:"Низкие цены",src:"./img/low-price.png",class:"img_low_price",alt:"low-price"},
        {name:"Всегда есть в наличии",src:"./img/hands.png",class:"img_hands",alt:"hands"},
        {name:"Быстрая доставка",src:"./img/fast-deliver.png",class:"img_fast-deliver",alt:"fast-deliver"},
    ]

-

    var ulnavcatalogtop = [
        {name:"Изотермические увлажнители", href:"#nav-firstlist"},
        {name:"Адиабатические увлажнители", href:"#nav-secondlist"},
        {name:"Испарительное охлаждение", href:"#nav-thirdlist"},
    ]
-

    var modalmaindescrip=[
        {name:"Описание" , descrip:"UE001YD001 Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр"},
        {name:"Description", descrip:"humiSteam Basic 1.5 kg/h, 230 V single phase, ON/OFF or proportional, disposable cylinder"},
    ]
    
-

    var catalogmain = {
            ue: {
                    title: "Увлажнители с погружными электродами UE* humiSteam",
                    title_p:"humiSteam",
                    pointer:"UE",
                    content_p:"humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч.",
                },
            uer:{
                    title: "Увлажнители с погружными электродами UE* humiSteam",
                    title_p:"humiSteam",
                    pointer:"UER",
                    content_p:"humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч.",
                
            },
            ch:{
                    title: "Увлажнители с погружными электродами UE* humiSteam",
                    title_p:"humiSteam",
                    pointer:"CH",
                    content_p:"humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч.",
                
            },
            ur:{
                    title: "Увлажнители с погружными электродами UE* humiSteam",
                    title_p:"humiSteam",
                    pointer:"UR",
                    content_p:"humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч.",
                
            },
            ug:{
                    title: "Увлажнители с погружными электродами UE* humiSteam",
                    title_p:"humiSteam",
                    pointer:"UG",
                    content_p:"humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч.",
                
            },
    }

-
    var firstlisttab = {
            fl1: {
                pointer : 'ue',
                btmbtncat: 'btmbtncatalog11',
                tabcontent1: 'nav-tabContent11',
                firstlist11: 'nav-firstlist11',
                catalogitem: 'catalogitems111',
                firstlist12: 'nav-firstlist12',
                catalogitem2: 'catalogitems112',
            },
            fl2: {
                pointer : 'uer',
                btmbtncat: 'btmbtncatalog11',
                tabcontent1: 'nav-tabContent11',
                firstlist11: 'nav-firstlist11',
                catalogitem: 'catalogitems111',
                firstlist12: 'nav-firstlist12',
                catalogitem2: 'catalogitems112',
            },
            fl3: {
                pointer : 'ch',
                btmbtncat: 'btmbtncatalog11',
                tabcontent1: 'nav-tabContent11',
                firstlist11: 'nav-firstlist11',
                catalogitem: 'catalogitems111',
                firstlist12: 'nav-firstlist12',
                catalogitem2: 'catalogitems112',
            },
            fl4: {
                pointer : 'ur',
                btmbtncat: 'btmbtncatalog11',
                tabcontent1: 'nav-tabContent11',
                firstlist11: 'nav-firstlist11',
                catalogitem: 'catalogitems111',
                firstlist12: 'nav-firstlist12',
                catalogitem2: 'catalogitems112',
            },
            fl5: {
                pointer : 'ug',
                btmbtncat: 'btmbtncatalog11',
                tabcontent1: 'nav-tabContent11',
                firstlist11: 'nav-firstlist11',
                catalogitem: 'catalogitems111',
                firstlist12: 'nav-firstlist12',
                catalogitem2: 'catalogitems112',
            },
    }

    



mixin ullistbgman
    for inner in listbgman
        li= inner.name
        


mixin ullistcatalog1
    .col-lg-4.col-md-3.catalog-menu-left
        #point1.point
        ul.catalog-menu-ul.position-relative.nav.nav-tabs
            - for (var x = 0; x < listulcatalog1.length; x++)
                if x === 0
                    li.catalog-menu-li
                        a(class="nav-link active catalog-menu-li-a" data-toggle="tab" href= listulcatalog1[x].href role="tab")= listulcatalog1[x].name
                else
                    li.catalog-menu-li
                        a(class="nav-link catalog-menu-li-a" data-toggle="tab" href= listulcatalog1[x].href role="tab")= listulcatalog1[x].name



mixin ullistcatalog2
    .col-lg-4.col-md-3.catalog-menu-left
        #point2.point
        ul.catalog-menu-ul.position-relative.nav.nav-tabs
            - for (var x = 0; x < listulcatalog2.length; x++)
                if x === 0
                    li.catalog-menu-li
                        a(class="nav-link active catalog-menu-li-a" data-toggle="tab" href= listulcatalog2[x].href role="tab")= listulcatalog2[x].name
                else
                    li.catalog-menu-li
                        a(class="nav-link catalog-menu-li-a" data-toggle="tab" href= listulcatalog2[x].href role="tab")= listulcatalog2[x].name

mixin ullistcatalog3
    .col-lg-4.col-md-3.catalog-menu-left
        #point3.point
        ul.catalog-menu-ul.position-relative.nav.nav-tabs
            - for (var x = 0; x < listulcatalog3.length; x++)
                if x === 0
                    li.catalog-menu-li
                        a(class="nav-link active catalog-menu-li-a" data-toggle="tab" href= listulcatalog3[x].href role="tab")= listulcatalog3[x].name
                else
                    li.catalog-menu-li
                        a(class="nav-link catalog-menu-li-a" data-toggle="tab" href= listulcatalog3[x].href role="tab")= listulcatalog3[x].name

mixin btmbtncatalog11
        ul.nav.nav-tabs.nav-justified(role="tablist")
            - for (var x = 0; x < btmbtncatalog11.length; x++)
                if x === 0
                    li.nav-item.nav-btm-btn
                        a(class="nav-link active nav-btm-link" data-toggle="tab" href= btmbtncatalog11[x].href role="tab")= btmbtncatalog11[x].name
                else
                    li.nav-item.nav-btm-btn
                        a(class="nav-link nav-btm-link" data-toggle="tab" href= btmbtncatalog11[x].href role="tab")= btmbtncatalog11[x].name

mixin catalogitems111
    .row.justify-content-between
        - for (var x = 0; x < catalogitems111.length; x++)
            .col-lg-4.col-sm-6
                .catalog-items.d-flex.flex-column.justify-conten-between
                    .catalog-items-block-up
                        .catalog-items-block-up-img
                            img(src= catalogitems111[x].src, alt=catalogitems111[x].alt)
                        .catalog-items-block-up-title
                            p=catalogitems111[x].name
                        .catalog-items-block-up-text
                            p=catalogitems111[x].text
                    .catalog-items-block-btm.d-flex.justify-content-between
                        .items-block-btm-price
                            p=catalogitems111[x].pricerub
                            p=catalogitems111[x].priceeu
                        .items-block-btm-btn
                            button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop")=catalogitems111[x].linktext

mixin catalogitems112
    .row.justify-content-between
        - for (var x = 0; x < catalogitems112.length; x++)
            .col-lg-4.col-sm-6
                .catalog-items.d-flex.flex-column.justify-conten-between
                    .catalog-items-block-up
                        .catalog-items-block-up-img
                            img(src= catalogitems112[x].src, alt=catalogitems112[x].alt)
                        .catalog-items-block-up-title
                            p=catalogitems112[x].name
                        .catalog-items-block-up-text
                            p=catalogitems112[x].text
                    .catalog-items-block-btm.d-flex.justify-content-between
                        .items-block-btm-price
                            p=catalogitems112[x].pricerub
                            p=catalogitems112[x].priceeu
                        .items-block-btm-btn
                            button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop")=catalogitems112[x].linktext



mixin caroeselcontent
 - for (var x = 0; x < caroeselcontent.length; x++)
        a(href=caroeselcontent[x].src data-fancybox="images" data-caption=caroeselcontent[x].alt)
            img(src=caroeselcontent[x].src)


mixin modalspecif
    .card.card-body-specif.p-0
        - for (var x = 0; x < modalspecif.length; x++)
            .block-specif.d-flex.justify-content-between
                .specif-name
                    p=modalspecif[x].name
                .specif-value
                    p=modalspecif[x].value

mixin modaldescrip
    .card.card-body-descrip.p-0
        - for (var x = 0; x < modaldescrip.length; x++)
            p=modaldescrip[x].name

mixin headermenu
    .header-menu.text-right
        - for (var x = 0; x < headermenu.length; x++)
            .header-menu-element.text-md-right.text-center
                .header-menu-img-dot
                    img(src=headermenu[x].src alt=headermenu[x].alt class="d-md-block d-none") 
                .header-menu-text
                    p=headermenu[x].name
                
mixin redlinecontent
    .row.justify-content-center.align-items-center.red-line-text
        - for (var x = 0; x < redlinecontent.length; x++)
            .col-md-4.col-sm-8.line__text
                .line__text-main.position-relative
                    .line__text-count
                        span=redlinecontent[x].number
                    .line__text-parag
                        p=redlinecontent[x].name

mixin greylinecontent
    .row.justify-content-center.align-items-center
        - for (var x = 0; x < greylinecontent.length; x++)
            .col-xl-3.col-lg-4.col-12.grey-line-items
                .d-flex.justify-content-center.align-items-center
                    .div
                        img(src=greylinecontent[x].src class=greylinecontent[x].class alt=greylinecontent[x].alt)
                    .div
                        p=greylinecontent[x].name

mixin ulnavcatalogtop
    ul(class= "nav nav-tabs" id="nav-tab" role="tablist")
        - for (var x = 0; x < ulnavcatalogtop.length; x++)
                if x === 0
                    li.nav-item.nav-up-btn
                        a(class="nav-link active nav-up-link" data-toggle="tab" href= ulnavcatalogtop[x].href role="tab")= ulnavcatalogtop[x].name
                else
                    li.nav-item.nav-up-btn
                        a(class="nav-link nav-up-link" data-toggle="tab" href= ulnavcatalogtop[x].href role="tab")= ulnavcatalogtop[x].name



mixin modalmaindescrip (modalmaindescind)
    .modal-description
        .modal-description-title
            p=modalmaindescrip[modalmaindescind].name
        .modal-description-text
            p=modalmaindescrip[modalmaindescind].descrip

    
mixin catalogmain (catmainind)
        .row    
            .col-8
                .catalog-right-title
                    span=catalogmain[catmainind].title
                    p=catalogmain[catmainind].title_p
            .col-4
                .catalog-right-pointer.text-right
                    span=catalogmain[catmainind].pointer
        .catalog-content
            p=catalogmain[catmainind].content_p
            .catalog-content-choose-model
                p Выберите модель:


mixin firstlisttab (jopa)
    +catalogmain(firstlisttab[jopa].pointer)
    .catalog-btm-btn
        +btmbtncatalog11
        #nav-tabContent11.tab-content.justify-content-center.catalog-right
            #nav-firstlist11.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-firstlist11-tab")
                +catalogitems111
            #nav-firstlist12.tab-pane.fade(role="tabpanel" aria-labelledby="nav-firstlist12-tab")
                +catalogitems112

 
 
 
