#staticBackdrop.modal.fade(data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                p.text-right Закрыть
                <span aria-hidden="true">&times;</span>
                </button>
            .modal-body
                section.position-relative
                    .row.justify-md-content-center.justife-content-between
                        .col-lg-4.col-md-4.col-12
                            .main-img
                                img(src="./img/shop_items.png", alt="UE001YD001")
                        .col-lg-8.col-12
                            .row
                                .col-12.modal-main-block
                                    .modal-title
                                        h2 UE001YD001 Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч
                                    +modalmaindescrip(0)
                                    +modalmaindescrip(1)    
                                    .modal-block.d-flex.justify-content-between
                                        .modal-block-art
                                            p Арт. UE001YD001
                                        .modal-block-right.flex-column
                                            .modal-block-right-orders.d-flex.align-items-center
                                                .modal-block-right-order
                                                    p Под заказ
                                                .modal-block-right-text
                                                    p Гарантия 24 месяца
                                            .modal-block-right-price.d-flex.align-items-center
                                                .modal-block-right-price-ru
                                                    p 66 021 руб.
                                                .modal-block-right-price-eu
                                                    p (€ 904 )
                                    .modal-block-btn.d-flex.justify-content-md-end.justify-content-center.position-relative.align-items-center.text-center
                                        button
                                            span Заказать
                                    .col-lg-7.col-11
                                        .collapse-btn-specif.text-left        
                                            button(class="btn p-0 position-relative d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapse-specif" aria-expanded="false" aria-controls="collapseExample") Характеристики
                                                .collapse-arrow
                                                    span
                                                    span
                                        #collapse-specif.collapse
                                            .card.card-body-specif.p-0
                                                +modalspecif
                    .row
                        .col-12
                            .collapse-btn-documentation.text-left
                                    button(class="btn p-0 position-relative d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapse-doc" aria-expanded="false" aria-controls="collapseExample") Документация
                                        .collapse-arrow
                                            span
                                            span
                                    #collapse-doc.collapse
                                        .card.card-body-doc.p-0
                                            a(class="doc-down" href="#") PDF-файл
                                            a(class="doc-down" href="#") PDF-файл
                            .collapse-btn-descrip.text-left
                                button(class="btn p-0 position-relative d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapse-descrip" aria-expanded="false" aria-controls="collapseExample") Описание серии
                                    .collapse-arrow
                                        span
                                        span
                            #collapse-descrip.collapse
                                +modaldescrip

