* {
    margin: 0;
    padding: 0;
    font-family: 'Circe';
}
h1,h2,h3{
    color: #ff0000
}
h2{
    font-size: 50px;
    font-family: 'Circe Bold';
}
h3{
    font-size: 42px;
}
p{
    font-size: 24px;
}
#wrapper{
    overflow: hidden;
}

.red-line{
    background-color: #ff0000;
    transform: rotate(8deg);
    position: absolute;
    bottom: 33px;
    width: 110%;
    z-index: 3;
    padding: 60px 0;
    left:-43px;
        &-container{
            position: relative;
        }
}

.line__text{
    transform: rotate(-10deg);
        &-count{
            position: absolute;
            font-size: 100px;
            color: #FF4343;
            font-weight: 900;
            line-height: 80px;
            top: -45px;
        }
        &-parag{
            font-size: 30px;
            color: white;
            text-align: left;
            position: relative;
            z-index: 10;
            min-width: 308px;
            min-height: 86px;
            line-height: 28px;
        }
}

.bg-man{
    height: 70vw;
    position: absolute;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    top: -24vw;
    z-index: -1;
    left: 0;
}

.serv{
    &__center{
    margin-bottom: 250px;
    }
    &__use{
        margin-top: 176px;
    ul,li {
        list-style: none;
        list-style-image: url(/src/img/dot-nav.png);
        font-size: 24px;
        line-height: 60px;
        }
    }
}
.main-call-back{
    padding: 11vw 0;
}
.call-back-title{
    p{
        color: white;
        line-height: 44px;
        font-size: 30px;
    }
}
.input-main{
    position: relative;
    margin-bottom: 40px;
    width: 100%;
        input{
            border:none;
            width: 100%;
            background: transparent;
            font-size: 14px;
            line-height: 21px;
            border-bottom: 2px solid white;
            margin-bottom: 40px;
            padding: 5px 30px;
        }
        input::placeholder{
            color: white;
        }
}
.btn_call-back{
    border: none;
    background-color: #ffffff;
    transform: skew(-20deg);
    width:440px;
    height: 47px;
    border-radius: 4px solid #ffffff;
    font-size: 22px;
}
.call-back{
    &-button{
        span{
            left: 7vw;
            color: #ff0000;
            transform: skew(20deg);
            top: calc(50% - 12px);
        }
    }
    &-text{
        p{
        color: white;
        font-size: 13px;
        line-height: 21px;
    }}
}

.pre-menu-title{
    margin-top: 12vw;
    max-width: 1450px;
}

.scroll-arrow{
    position: fixed;
    background-color: #ff0000;
    position: fixed;
    bottom: 24px;
    right: 10px;
    overflow: hidden;
    z-index: 1000;
    opacity: 1;
    -webkit-animation: arrow .8s infinite;
    animation: arrow .8s infinite;
    padding: 13px;
    max-width: 60px;
    -webkit-clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%);
    width: 100%;
    max-height: 45px;
    height: 100%;
        img{
            width: 29px;
            display: block;
            margin: 2px auto;
            min-height: 26px;
        }
}