.talk-about-us{
    margin-top: 110px;
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    background: #ebebeb;
    padding: 70px 0 180px 0;
    width: 110%;
    margin-left: -66px;
        &-text{
            margin: 20px 0;
        }
        .container{
            -webkit-transform: rotate(-8deg);
            -ms-transform: rotate(-8deg);
            transform: rotate(-8deg);
                .owl-carousel{
                    margin-top: 40px;
                        .owl-item{
                            img{
                                height: 230px;
                            }
                        }
                        .owl-nav{
                            .owl-prev{
                                position: absolute;
                                top: calc(50% - 20px);
                                left: 0;
                            }
                            .owl-next{
                                position: absolute;
                                top: calc(50% - 20px);
                                right: 0;
                            }
                        }
                }
        }
}