.catalog{
    position: relative;
    margin-top:10vw;
        .nav{
            margin:20px 0;
            border-bottom: none;
                &-up{
                    &-btn{
                        margin: 0 20px;
                        height: 65px;
                        background-color: #FFE8E8;
                        transform: skew(-20deg);
                        border:none;
                        width: 29%;
                        text-align: center;     
                    }   
                    &-link{
                        color:#ff0000;
                        transform: skew(20deg);
                        width: 100%;
                        height: auto;
                        font-size: 24px;
                        line-height: 28px;
                            &:before{
                                content: "";
                                position: absolute;
                                opacity: 0;
                                border: 15px solid transparent;
                                border-top: 15px solid #ff0000;
                                bottom: -30px;
                                left: 48%;
                            }
                            &.active{
                                background-color: #ff0000;
                                color: #ffffff;
                                height: 65px;
                                transform: skew(0deg);
                                    &:before{
                                        opacity: 1;
                                    }
                            }
                    }
                }       
        &-btm{
            &-btn{
                margin: 0 5px;
                height: 58px;
                background-color: #FFE8E8;
                transform: skew(-20deg);
                border:none; 
            }
            &-link{
                color:#ff0000;
                transform: skew(20deg);
                width: 100%;
                height: auto;
                font-size: 24px;
                line-height: 28px;
                    &.active{
                        background-color: #ff0000;
                        color: #ffffff;
                        height: 58px;
                        transform: skew(0deg);
                    }
            }
        }
        }
        &-bg-red-triangle{
            height: 900px;
            width: 380px;
            -webkit-clip-path: polygon(380px 811px, 380px 4px, 86px 754px);
            clip-path: polygon(380px 811px, 380px 4px, 86px 754px);
            background-color: red;
            bottom: -337px;
            right: 0;
            position: absolute;
            z-index: -1;
        }
        &-main{
            margin-top: 50px;
        }
        &-menu{
            &-left{
                .point{
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    min-height: 10px;
                    min-width: 11px;
                    background: red;
                    -webkit-transform: skew(-20deg);
                    -ms-transform: skew(-20deg);
                    transform: skew(-20deg);
                    border-radius: 2px;
                    position: absolute;
                    top: 75px;
                    left: 10px;
                }
            }
            &-ul{
                list-style: none;
                padding-left: 30px;
                margin: 0;
                border-left: 2px solid red;
                position: relative;
            }
            &-li{
                font-size: 22px;
                margin-bottom: 20px;
                    &-a{
                        display: block;
                        color: black;
                        &.active{
                            color: #ff0000 !important;
                            border:none;
                        }
                    }
                }
                
            
        }
        &-items{
            &-block{
                &-btm{
                    .items{
                        &-block{
                            &-btm{
                                &-price{
                                    p{
                                        &:first-child{
                                                    font-weight: 900;
                                                }
                                        &:last-child{
                                                    color: #ADADAD;
                                        }        
                                    }
                                }
                                &-btn{
                                    color:#ff0000;
                                    border: 2px solid #ff0000;
                                    transform: skew(-10deg);
                                    height: 40px;
                                    border-radius: 4px;
                                        .btn-primary{
                                            color: #ff0000;
                                            background-color: #ffffff ;
                                            border: none;
                                        }

                                }
                            }
                        }
                    }
                }
            }
        }
        &-right{
            &-title{
            p{
                font-size: 30px;
                line-height: 44px;
                padding: 20px 0;
            }
            span{
                font-size: 36px;
                color: #2E2E2E;
                font-family: 'Circe Bold';}
        }
        &-pointer{
            color: #ff0000;
            font-size: 110px;
            line-height: 162px;
        }
        }
        &-content{
            &-choose-model{
                p{
                    font-size: 30px;
                    font-family: 'Circe Bold';
                }
            }
        }
}       