.collapse{
    .card{
        &-body{
            &-specif{
                border: none;
            }
            &-doc{
                border: none;
            }
            &-descrip{
                border: none;
            }
        }
    }
    &-arrow{
        margin-left: 20px;
        height: 3px;
        width: 6px;
        position: relative;
        span{
            height: 2px;
            width: 10px;
            background: #ff0000;
            position: absolute;
                &:first-child{
                    transform: rotate(45deg);
                    right: 0;
                }
                &:last-child{
                    transform: rotate(-45deg);
                }
        }
    }
    &-btn{    
        &-specif{
            .btn{
                &.collapsed {
                    .collapse-arrow {
                        transform: rotate(180deg);
                    }
                    .btn{
                        :focus{
                            box-shadow: none;
                        }
                    }
                }
                color: #ff0000;
                background-color: transparent;
                border: none;
                font-family: 'Circe Bold';
                    :hover{
                        color: #ff0000;
                        background-color: transparent;
                        border: none;
                        border-color: transparent;
                    }
                    :active{
                        color: #ff0000;
                        background-color: transparent;
                        border: none;
                        border-color: transparent;
                        .collapse-arrow{
                            span{
                                :first-child{transform: rotate(-45deg);
                                    right: 0;}
                                :last-child{transform: rotate(45deg);}
                            }
                        }
                    }
            }
        }
        &-documentation{
            .btn{
                &.collapsed {
                    .collapse-arrow {
                        transform: rotate(180deg);
                    }
                    .btn{
                        :focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
                outline: none;
                color: #ff0000;
                background-color: transparent;
                border: none;
                font-family: 'Circe Bold';
                    :hover{
                        outline: none;
                        color: #ff0000;
                        background-color: transparent;
                        border: none;
                        border-color: transparent;
                    }
                    :active{
                        outline: none;
                        color: #ff0000;
                        background-color: transparent;
                        border: none;
                        border-color: transparent;
                        .collapse-arrow{
                            span{
                                :first-child{transform: rotate(-45deg);
                                    right: 0;}
                                :last-child{transform: rotate(45deg);}
                            }
                        }
                    }
            }

        }
        &-descrip{
            .btn{
                &.collapsed {
                    .collapse-arrow {
                        transform: rotate(180deg);
                    }
                    .btn{
                        :focus{
                            box-shadow: none;
                        }
                    }
                }
                color: #ff0000;
                background-color: transparent;
                border: none;
                font-family: 'Circe Bold';
                    :hover{
                        color: #ff0000;
                        background-color: transparent;
                        border: none;
                        border-color: transparent;
                    }
                    :active{
                        color: #ff0000;
                        background-color: transparent;
                        border: none;
                        border-color: transparent;
                        .collapse-arrow{
                            span{
                                :first-child{transform: rotate(-45deg);
                                    right: 0;}
                                :last-child{transform: rotate(45deg);}
                            }
                        }
                    }
            }
        }
    }
}