.line-red{
    padding: 70px 25px;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    width: 116%;
    margin-left: -47px;
    background: #ff0000;
    margin-bottom: 90px;
}

.call-back-bg{
    width: 100%;
    height: 1100px;
    position: absolute;
    background-size: cover;
    top: -77px;
}


.right-rectangle{
    height: 100vh;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    top: -9vh;
    background-size: contain
}

.grey{
    &-triangle{
    width: 100%;
    height: 878px;
    -webkit-clip-path: polygon(0px 838px, 1545px 301px, 0px 0px);
    position: absolute;
    background-color: #EBEBEB;
    top: -14vw;
    -webkit-clip-path: polygon(0px 667px, 1545px 301px, 0px 0px);
    clip-path: polygon(0px 667px, 1545px 301px, 0px 0px);
    }
    &-line{
        background-color: #EBEBEB;
        transform: rotate(8deg);
        width: 110%;
        color: #2E2E2E;
        font-size: 24px;
        margin: -20px;
        padding: 20px 0;
        margin-top: 8vw;
        &-items{
            transform: rotate(-8deg);
            margin-left: 70px;
        }
    }

}
.left-triangle-left{
    border: 18vw solid transparent;
    border-left: 10vw solid #E0E0E0;
    border-top: 37vw solid #E0E0E0;
    position: absolute;
    left: 0;
    top: -38vw;
    z-index: -1
}