.footer{
    &-bg{
        height: calc(100% + 241px);
        z-index: -1;
        position: absolute;
        width: 100%;
        top: -241px;
        background-repeat: no-repeat;
            &-woomen{
                height: 100vh;
                position: absolute;
                background-repeat: no-repeat;
                z-index: -1;
                background-size: contain;
                right: 0;
                width: 60%;
                bottom: 0;
                background-position-y: bottom;
            }
    }
    .call-back{
        margin:150px 0;
        &-button1{
            span{
                left: 7vw;
                color: #ff0000;
                transform: skew(20deg);
                top: calc(50% - 12px);
            }
    }
    }
    &-creator{
        span{
            color: #ffffff;
        }
        img{
            width: 100%;
            max-width: 127px;
        }
    }
    &-copyright{
        margin-top:20px;
        span{
            color: #ffffff;
        }
    }
}