.header{
    position: relative;
    height: 100vh;
    min-height: 974px;
    overflow: hidden;
    &-menu{
        &-element{
            display: inline-flex;
            align-items: center;
        }
        &-text{
            p{
            font-family: 'Circe Bold';
            font-size: 56px; 
            line-height: 56px;
            }
        }
        
    }
}
.left-triangle{
    border: 10vw solid transparent;
    border-left: 3vw solid #ff0000;
    border-top: 33vw solid #ff0000;
    position: absolute;
    left: 0;
    top: 0;
    }
.right-glass{
    height: 110vh;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    top: 0;
    background-size: contain;
}

.tell{
    font-family: 'Circe Bold';
    font-size: 20px;
    color: black;
}
.rev-call{
    color: black;
    text-decoration:revert;
}
.header-title-text{
    color: #ff0000;
    font-size: 42px;
}
.but_chos_item{
    color: white;
    border: none;
    background-color: #ff0000;
    transform: skew(-20deg);
    width: 357px;
    height: 75px;
    border-radius: 4px solid #ff0000;
    font-size: 22px;
}
.btn-header{
    margin-top: 50px;
    span{
        transform: skew(20deg);
        color: white;
        top: calc(50% - 12px);
        width: 100%;
        left:0;
        font-size: 26px;
    }
}