//header
.img-artic-main{
    z-index: -1;
}
.img-logo{
    margin: 20px 0 50px 40px;
}

//main
.img_serv__center__left{
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -2;
    top:140px;
}

.img_second_line{
    width: 100%;
}

.img_right-rectangle-grey{
    margin-top: 86px ;
    right: 0;
}

.img_tel-logo{
    left:0;
}
