@media (max-width: 1440px){
  .bg-man{
    top: -18vw;
  }
  .call-back-bg{
    top: -41px;
    }
    .right-rectangle{
        top:-18.5vh;
    }
    .footer-bg{
        left:-14vw;
    }
}
@media (max-width: 1024px){
    .img-artic-main{
        max-width: 500px;
    }
    .red-line{
        bottom: 150px;
    }
    .grey{
        &-line-items{
            margin-left: 0;
        }
        &-triangle{
        top:-27vw;
    }}
    .bg-man{
        top: -8vw;
      }
    .call-back-bg{
        height: 820px;
    }
    .btn_call-back{
        width: 100%;
    }
    .call-back-button {
        span {
        left: 21vw;
        }
    }   
    .talk-about-us{
        transform: revert;
        z-index: 3;
            .container{
                transform: revert;
            }
        
    }
    .footer{
        background-color: #ff0000;
        .call-back{
            margin: 70px 0;
            &-text{
                text-align: center;
            }
            &-button1{
                span{
                    left:32vw;
                }
            }
        }
    }
}

@media(max-width:768px){
    .header{
        height: auto;
            &-menu-element{
                display: block;
                    p{
                        font-size: 40px;
                    }
            }
    }
    .tell{
        font-size: 18px;
    }
    .red-line{
        bottom: 0px;
        transform: revert;
    }
    .serv{
        &__center{
            margin-bottom: 100px;
                &-main{
                    background-color: #EBEBEB;
                }
        &__use{
            margin: 0;
        }
    }
}
    .line-red{
        transform: revert;
    }
    .line__text{
        transform: revert;
            &-count{
                position: relative;
                top: auto;
                left: auto
            }
            &-parag{
                p{font-size: 21px;}
            }
    }
    
    .main-call-back{
        background-color: #ff0000;
        padding: 20px 0;
    }
    .grey-line{
        transform: revert;
        width: 100%;
        margin-left: 0;
            &-items{
                transform: revert;
                padding: 20px;
                margin-left: 0;
            }
    }
    .catalog{
        .nav{
            &-up{
                &-btn{
                    width: 27%;
                }
                &-link{
                    font-size: 20px;
                }
            }
            &-btm{
                &-link{
                    font-size: 18px;
                }
            }
        }
        &-right{
            &-title{
                span{
                    font-size: 28px;
                }
            }
            &-pointer{
                span{
                    font-size: 60px;
                }
            }
        }
        &-menu{
            &-ul{
                padding-left: 7px;
            }
            &-li{

                &-a{
                    font-size: 19px;
                }
            }
        }
    }
    .modal{
        &-title{
            h2{
                font-size: 40px;
            }
        }
    }
    .talk-about-us{
        margin-left: -26px
    }
    .footer{
        .call-back-button1{
            span{
                left:26vw;
                }
            }
    }
  
}

@media(max-width:425px){
    .img{
        &-artic-main {
            max-width: 392px;
        }
}
    .but_chos_item{
        width: 100%;
    }
    .line{
        &-red{
            margin-left: -33px;
        }
        &__text{
                &-main{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 20px;
                }
                &-parag{
                    text-align: center;
                        p{
                            font-size: 17px;
                        }
                }
    }}
    .serv{
        &__center{
            h2{
                font-size: 30px;
            }
        }
        &__use{
        text-align: center;
        ul,li{
            font-size: 18px;
            font-family: 'Circe Bold';
            list-style-image: none;
            line-height: normal;
        }
    }}
    .grey-line{
        &-items{
            padding: 0;
        }
        img{
            height: 40px;
            width: 44px;
        }
    }
    .pre-menu-title{
        h2{font-size: 30px;}
    }
    .catalog{
        h2{
            font-size: 28px;
        }
        &-right-title span {
            font-size: 24px;
        }
        .nav{
            &-up{
                &-btn{
                    width: 88%;
                    margin-bottom: 20px;
                }
                &-link{
                    &.active{
                        &:before{
                            display: none;
                        }
                    }
                }
            }
            &-btm{
                &-link{
                    font-size: 13px;
                }
            }
        }
    }
    .modal{
        &-body{
            padding: 1rem;
        }
        p{
            font-size: 15px;
        }
        &-title{
            h2{
                font-size: 28px;
            }
        }
        &-block{
            flex-direction: column;
            &-btn{
                button{
                    span{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .block-specif{
        p{
            font-size: 10px;
        }
    }
    .card-body-descrip{
        p{
            font-size: 11px;
        }
    }
    .talk-about-us{
        padding-bottom: 70px;
        padding-left: 20px;
        &-title{
            text-align: center;
            h2{
                font-size: 32px;
            }
        }
        &-text{
            text-align: center;
            p{
                font-size: 20px;
            }
        }
    }
 }


@media(max-width:320px){
    .line-red{
        margin-left{
            font-size: -24px;
    }
}
    .talk-about-us{
        &-title{
            h2{
                font-size: 27px;
            }
        }
        &-text{
            p{
                font-size: 16px;
            }
        }
    }
}