.modal{
    &-dialog{
        max-width: max-content;
    }
    &-header{
        border-bottom: none;
    }
    &-main{
        &-block{
            margin-right: 40px;
        }
    }
    &-body{
        padding: 5rem;
        .main-img{
            img{
            max-width: 460px;
            width: 100%;
            }
        }
    }
    &-description{
        &-title{
            p{
            font-family: 'Circe Bold';
            }
        }
    }
    &-block{
        &-art{
            p{
            font-family: 'Circe Bold';
            }
        }
        &-right{
            &-order{
                margin-right: 20px;
                color: #ff0000;
            }
            &-price{
                &-ru{
                    margin-right: 20px;
                    p{
                    font-family: 'Circe Bold';
                    }
                }
                &-eu{
                    color: #7B7B7B;
                }
            }
        }
        &-btn{
            button{
            background-color: #ff0000;
            transform: skew(-20deg);
            max-width: 370px;
            min-height: 58px;
            width: 100%;
            height: 100%;
            border: none;
            position: relative;
                span{
                    color: #ffffff;
                    transform: skew(20deg);
                    position: absolute;
                    font-size: 22px;
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    overflow: auto;
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
}